<section class="landing-container">
  <div class="landing-item">
    <img id="drummer" src='assets/png/rockstars/DrummerOne.png' alt=""/>
  </div>
  <div class="landing-item">
    <img id="singer" src='assets/png/rockstars/SingerOne.png' alt=""/>
  </div>
  <div class="landing-item">
    <img id="trumpet" src='assets/png/clowns/JY342-01.png' alt=""/>
  </div>
  <div class="landing-item">
    <img id="clown" src='assets/png/clowns/JY342-03.png' alt=""/>
  </div>

  <h1>
    <span>ROCKSTARS</span>
    <span>CLOWNS</span>
  </h1>
  <h2>VS</h2>
  <footer>
    <div id="wrapper">
      <button class="my-super-cool-btn" (click)="connect()">
        <div class="dots-container">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <span id="go-btn-title">connect</span>
        <div id="speaker-ring"></div>
      </button>
    </div>
  </footer>
</section>
